/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

:root{
  --background-color : #0d1b2a;
  --foregroung-color : #1b263b;
  --text-color : #e0e1dd;
}

a{
  color: white;
  text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.card{
  background-color: var(--foregroung-color);
  color: var(--text-color);
}

body {
  --dot-bg: #161616;
  --dot-color: #848282;
  --dot-size: 1px;
  --dot-space: 50px;
  background:
    linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}